body,
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: white;
  background: radial-gradient(circle, white 0%, #e5e5e5 100%);
}

p {
  color: #767676;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #E92569;
  font-size: 2rem;
}

.nav {
  background-color: #EFEFEF;
  color: #E92569;
}

.nav .navbar-brand {
  color: #E92569;
}

.nav__logo {
  color: #E92569;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  margin-left: 5%;
}

.nav__a {
  color: #0A0A0A;
  border-radius: 3px;
  margin-left: 30px;
  padding: 5px;
  width: 100%;
  margin-bottom: 30px;
}

.nav__li {
  height: 40px;
  margin-top: 20px;
}

.nav__li--active {
  background-color: #fff;
}

.nav__search {
  border: none;
  width: 330px;
}

.nav__search-btn {
  background-color: #E92569;
  border: none;
  color: #fff;
  margin-right: 5%;
  margin-left: -12px;
  border-radius: 0 3px 3px 0;
}

.nav__burger-btn {
  color: #E92569;
}

.navbar-toggler {
  border: none;
}

@media only screen and (min-width: 768px) {
  .nav__li {
    height: unset;
    margin-top: unset;
  }
  .nav__a--active {
    background-color: #fff;
  }
  .nav__li--active {
    background-color: unset;
  }
  .nav__a {
    padding: unset;
    width: unset;
    margin-bottom: unset;
    padding-left: 20px;
  }
}

.footer {
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer__icon {
  color: #767676;
}

.mini-footer {
  background-color: #fff;
  height: 165px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
}

.mini-footer__icon {
  color: #767676;
  margin-top: 20px;
}

.mini-footer__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.caro {
  max-height: 400px;
}

.caro__image {
  background-position: center center;
  background-size: cover;
  max-height: 400px;
}

.caro__btn {
  height: 30px !important;
  background-color: #fff !important;
  opacity: 100% !important;
}

.caro__btn.active {
  background-color: #E92569 !important;
}

.carousel .carousel-inner .active {
  background-color: #E92569;
}

.home-h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.home-h1, .home-p {
  margin-left: 5%;
  margin-right: 5%;
}

.home-p {
  margin-bottom: 60px;
}

.acco {
  max-width: 80%;
  margin: auto;
  -webkit-box-shadow: 3px 3px 3px #e5e5e5;
          box-shadow: 3px 3px 3px #e5e5e5;
}

.acco__body {
  background: #e9e9e9;
  background: radial-gradient(circle, #e9e9e9 0%, white 100%);
}

.acco__socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.acco__socials__item {
  margin-left: 10px;
  margin-right: 10px;
}

.acco__btn {
  color: #E92569;
}

.acco__btn:not(.collapsed) {
  background-color: #fff;
  color: #E92569;
}

.acco__btn::after {
  display: none;
}

.tab {
  max-width: 90%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
}

.tab__img {
  background-position: center center;
  background-size: cover;
  width: 75%;
  height: 75%;
  margin-left: 30px;
}

.tab__content {
  margin-top: 30px;
}

.tab__socials__item {
  margin-right: 10px;
}

.tab__btn {
  color: #E92569;
  margin-bottom: -5px;
}

.news-h1 {
  margin-left: 8%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-numbers {
  margin-left: 8%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-numbers__link {
  color: #E92569;
  border-style: solid;
  border-width: 1px;
  border-color: #E92569;
}

.cards {
  border-radius: 10px;
  margin: auto;
  margin-bottom: 40px;
}

.cards__img {
  border-radius: 10px 10px 0 0;
}

.cards__btn {
  font-size: 0.8rem;
  background: #E92569;
  border: none;
  text-transform: uppercase;
  position: relative;
  width: 100%;
}

.cards__btn:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background: #767676;
  border-radius: 0 3px 3px 0;
}

.contact {
  margin-left: 8%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact__icon {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #767676;
}

.contact__lineheight {
  line-height: 10px;
}

.contact__info {
  margin-top: 20px;
}

.form {
  background-color: #EFEFEF;
  max-width: 555px;
  padding: 40px;
}

.form__input {
  border: none;
}

.form__legal {
  color: #767676;
  margin-top: 20px;
  margin-left: 20px;
}

.form__btn {
  background-color: #767676;
  border: none;
  width: 100%;
}

.form__checkbox {
  background-color: #E92569;
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-h1 {
  margin-left: 8%;
  margin-bottom: 30px;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .form {
    margin-left: 8%;
  }
}
/*# sourceMappingURL=style.css.map */