.footer {
    background-color: getColor(lightest);
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

    &__icon {
        color: getColor(bottom-nav-text);
    }

}

.mini-footer {
    background-color: getColor(lightest);
    height: 165px;
    justify-content: space-evenly;
    margin-top: 40px;

    &__icon {
        color: getColor(bottom-nav-text);
        margin-top: 20px;
    }

    &__text {
        align-self: flex-end;
    }
}

