// carousel

.caro {

    max-height: 400px;

    &__image {
        background-position: center center;
        background-size: cover;
        max-height: 400px;
    }

    &__btn {
        height: 30px !important;

        background-color: getColor(lightest) !important;
        opacity: 100% !important;

        &.active {
            background-color: getColor(logo-color) !important;
        }
    }
}

.carousel .carousel-inner .active{

    background-color: getColor(logo-color);
} 

// text

.home-h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.home-h1, .home-p {
    margin-left: 5%;
    margin-right: 5%;
}

.home-p {
    margin-bottom: 60px;
}

// Accordion

.acco {

    max-width: 80%;
    margin: auto;
    box-shadow: 3px 3px 3px #e5e5e5;

    &__body {
        background: rgb(233,233,233);
        background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);
    }

    &__socials {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    &__socials__item {
        margin-left: 10px;
        margin-right: 10px;
    }

    &__btn {
        color: getColor(logo-color);
    }

    &__btn:not(.collapsed) {
        background-color: getColor(lightest);
        color: getColor(logo-color);
        border-bottom: solid 1px getColor(logo-color);
    }

    &__btn::after {
        display: none;
    }

}


// Tabs

.tab {
    max-width: 90%;
    margin: auto;
    background-color: getColor(lightest);
    border-radius: 10px;

    &__img {
        background-position: center center;
        background-size: cover;
        width: 75%;
        height: 75%;
        margin-left: 30px;
    }

    &__content {
        margin-top: 30px;
    }

    &__socials__item {
        margin-right: 10px;
    }

    &__btn {
        color: getColor(logo-color);
        margin-bottom: -5px;
    }
}
