.nav {
    background-color: getColor(top-nav);
    color: getColor(logo-color);

    .navbar-brand {
        color: getColor(logo-color);
    }

    &__logo {
        color: getColor(logo-color);
        font-family: $logo-font;
        font-weight: 700;
        font-style: italic;
        margin-left: 5%;
    }

    &__a {
        color: getColor(dark);
        border-radius: 3px;
        margin-left: 30px;
        padding: 5px;
        width: 100%;
        margin-bottom: 30px;
    }

    &__li {
        height: 40px;
        margin-top: 20px;
    }

    &__li--active {
        background-color: getColor(lightest);
    }

    &__search {
        border: none;
        width: 330px;
    }

    &__search-btn {
        background-color: getColor(logo-color);
        border: none;
        color: getColor(lightest);
        margin-right: 5%;
        margin-left: -12px;
        border-radius: 0 3px 3px 0;

    }

    &__burger-btn {
        color: getColor(logo-color);
    }
}

.navbar-toggler {
    border: none;
}


@media only screen and (min-width: 768px) {
    .nav {

        &__li {
            height: unset;
            margin-top: unset;
        }

        &__a--active {
            background-color: getColor(lightest);
        }

        &__li--active {
            background-color: unset;
        }

        &__a {
            padding: unset;
            width: unset;
            margin-bottom: unset;
            padding-left: 20px;
        }
    }
}
