.nav {
    background-color: getColor(top-nav);
    color: getColor(logo-color);

    .navbar-brand {
        color: getColor(logo-color);
    }

    &__logo {
        color: getColor(logo-color);
        font-family: $logo-font;
        font-weight: 700;
        font-style: italic;
        margin-left: 5%;
    }

    &__a {
        color: getColor(dark);
        border-radius: 3px;
        padding: 0;
        margin-left: 30px;
    }

    &__a--active {
        background-color: getColor(lightest);
    }

    &__search {
        border: none;
    }

    &__search-btn {
        background-color: getColor(logo-color);
        border: none;
        color: getColor(lightest);
        margin-right: 5%;
        margin-left: -12px;
        border-radius: 0 3px 3px 0;

    }

    &__burger-btn {
        color: getColor(logo-color);
    }
}

.navbar-toggler {
    border: none;
}



