.news-h1 {
    margin-left: 8%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-numbers {
    margin-left: 8%;
    margin-top: 40px;
    margin-bottom: 40px;

    &__link {
        color: getColor(logo-color);
        border-style: solid;
        border-width: 1px;
        border-color: getColor(logo-color);
    }
}

.page-item.active .page-link{
    background-color: getColor(logo-color);
    border-color: getColor(logo-color);
}

//card

.cards {
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;

    &__img {
        border-radius: 10px 10px 0 0;
    }


    &__btn {
        font-size: 0.8rem;
        background: getColor(logo-color);
        border: none;
        text-transform: uppercase;
        position: relative;
        width: 100%;
    }

    &__btn:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 100%;
        background: getColor(bottom-nav-text);
        border-radius: 0 3px 3px 0;
    }
}
