$font: 'Lato', sans-serif;
$logo-font: 'Playfair Display', serif;


$colors: (
    logo-color: #E92569,
    bottom-nav-text: #767676,
    top-nav: #EFEFEF,
    dark: #0A0A0A,
    lightest: #fff,
    back-ground: rgb(255,255,255),
    gradient: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%),
);

$tablet-width: 768px;

@function getColor($color) {
    @return map-get($map: $colors, $key: $color);
}